@{
    ViewData["Title"] = "Home Page";
}

<div>
    </p>
    <h1>N3UG.ClubWeb</h1>
    <p>
        N3UG.ClubWeb will be a customizable, easy to administer web site 
        for clubs or organizations to manage their members and activities. 
        It will be developed using the latest technologies and patterns 
        and as an Open Source project stewarded by the Northern New Jersey 
        .NET User Group. You do not need to be a member of N3UG, nor 
        attend our monthly meetings to participate, all are welcome.
</div>
