<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>N3UG.Club.Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
    <div class="nav-container">
        <a id="top"></a>
        <nav>

            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="Foundry" src="~/images/n3ugheader.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li><a href="/Home">Home</a></li>
                            <li><a href="/Home/About">About</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Admin
                                </a>
                                <ul class="mega-menu">
                                    <li><a href="/Home/Users">Users</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--end of menu module-->
                    <div class="module widget-handle search-widget-handle left">
                        <div class="search">
                            <i class="ti-search"></i>
                            <span class="title">Search Site</span>
                        </div>
                        <div class="function">
                            <form class="search-form">
                                <input type="text" placeholder="Type Here" />
                            </form>
                        </div>
                    </div>

                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>
    <div class="main-container">
        <section>
            <div class="container content-container">
                <div class="row">
                    <div class="col-sm-12">
                        @RenderBody()
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img alt="Logo" src="~/images/n3ugheader.large.reverse.png" />
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Contact Information</h6>
                            <hr>
                            <div>
                                <div>
                                    <a href="mailto:steve.fabian@gooddogs.com">Steve Fabian</a>
                                </div>
                                Group Information<br />
                                Membership<br />
                                Open Source Projects<br />
                                Speakers and Sponsorship
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">GitHub Repository</h6>
                            <hr>
                            <div class="twitter-feed">
                                <a href="http://github.com/n3ug">GitHub.com/N3UG</a>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Upcoming Meetings</h6>
                            <hr>
                            <div>
                                <div>
                                    <a href="http://n3ug.org/meetings.aspx">Contributing to Open Source Projects</a>
                                </div>
                                Tue April 10th<br />
                                Steve Fabian<br />
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">&copy; Copyright 2018 - Northern NJ .Net User Group</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@n3ug.org">
                                    <i class="ti-email"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/flickr.js"></script>
    <script src="~/js/flexslider.min.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/masonry.min.js"></script>
    <script src="~/js/twitterfetcher.min.js"></script>
    <script src="~/js/spectragram.min.js"></script>
    <script src="~/js/ytplayer.min.js"></script>
    <script src="~/js/countdown.min.js"></script>
    <script src="~/js/smooth-scroll.min.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
